<.flash_group flash={@flash} />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<nav class="light-blue">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Discussions</a>
  </div>
</nav>
